{
  "extends": [
    "@rocketseat/eslint-config/react"
  ],
  "rules": {
    "no-useless-catch": "off",
    "camelcase": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-extra-boolean-cast": "off"
  }
}